<div
  *ngIf="eoa; else connect"
  class="min-h-screen pb-24 bg-gradient-to-b from-white to-fuchsia-50"
>
  <div
    class="w-screen pt-6 bg-[rgba(255,255,255,0.5)] border-slate-100 mb-12 flex flex-row justify-center"
  >
    <div
      class="max-w-7xl px-8 w-full flex flex-row justify-between items-center"
    >
      <img
        class="h-6"
        src="https://content.pstmn.io/9af7177c-4ec7-40e4-855b-214ea62aaf5f/a2xhc3Rlcl9ib2plLnBuZw=="
        alt=""
        srcset=""
      />
    </div>
  </div>
  <div class="max-w-7xl mx-auto px-4">
    <div class="grid w-full p-4 grid-cols-1 md:grid-cols-2 gap-6">
      <ng-template #noaccount>
        <div
          class="col-span-2 w-full h-12 bg-slate-200 rounded-md animate-pulse"
        ></div>
      </ng-template>
      <div *ngIf="mcSca; else noaccount" class="grid border
      border-slate-100 rounded-md bg-white col-span-2 grid-cols-12 w-full">
        <div
          class="col-span-9 flex flex-row items-center justify-between border-slate-100 py-3 px-8 rounded-md"
        >

          <div class="font-semibold flex flex-row gap-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-landmark"><line x1="3" x2="21" y1="22" y2="22"/><line x1="6" x2="6" y1="18" y2="11"/><line x1="10" x2="10" y1="18" y2="11"/><line x1="14" x2="14" y1="18" y2="11"/><line x1="18" x2="18" y1="18" y2="11"/><polygon points="12 2 20 7 4 7"/></svg>
            My account
          </div>
          <div class="py-2 flex flex-col items-center border-r px-12 border-x border-slate-100">
            <div class="-mt-1">
              <span
                class="text-slate-500 text-xs"
                *ngFor="let chainId of depositChains"
              >
                {{ chainId | chainName }} •
              </span>
            </div>
            <div>
              {{ mcSca }}
            </div>
          </div>
        </div>
        <div
          class="flex col-span-3 w-full flex-row justify-end pr-12 my-3 items-center"
        >
          <button
            class="mr-4 px-4 border py-1 rounded-md"
            *ngIf="viewBreakdownToggled !== null"
            (click)="setViewBreakdown(null)"
          >
            Close
          </button>
          <div
            (click)="setViewBreakdown('USDC')"
            class="flex relative cursor-pointer transition-all flex-row items-center gap-x-2"
          >
            <img class="h-7" src="../assets/usdc.png" alt="" srcset="" />

            <div class="flex flex-col">
              <div class="text-sm text-slate-500">USDC</div>
              <div class="-mt-1 font-semibold">
                {{ formatBalance(usdcBalance ?? "0") }}
              </div>
            </div>

            <div
              *ngIf="viewBreakdownToggled === 'USDC'"
              class="absolute w-96 top-14 right-0 p-8 bg-white border rounded-md"
            >
              <div
                class="w-full text-slate-600 text-sm pb-1 border-b border-slate-100 mb-2 flex flex-row justify-between"
              >
                <div>Network</div>
                <div>Amount</div>
              </div>
              <div
                class="w-full flex flex-row justify-between"
                *ngFor="let item of usdcBreakdown"
              >
                <div>
                  {{ item.chainId | chainName }}
                </div>
                <div>
                  {{ item.amount }}
                </div>
              </div>
            </div>
          </div>
          <div
            (click)="setViewBreakdown('USDT')"
            class="flex pl-4 ml-4 border-l relative cursor-pointer transition-all flex-row items-center gap-x-2"
          >
            <img class="h-7" src="../assets/usdt.png" alt="" srcset="" />

            <div class="flex flex-col">
              <div class="text-sm text-slate-500">USDT</div>
              <div class="-mt-1 font-semibold">
                {{ formatBalance(usdtBalance ?? "0") }}
              </div>
            </div>

            <div
              *ngIf="viewBreakdownToggled === 'USDT'"
              class="absolute w-96 top-14 right-0 p-8 bg-white border rounded-md"
            >
              <div
                class="w-full text-slate-600 text-sm pb-1 border-b border-slate-100 mb-2 flex flex-row justify-between"
              >
                <div>Network</div>
                <div>Amount</div>
              </div>
              <div
                class="w-full flex flex-row justify-between"
                *ngFor="let item of usdtBreakdown"
              >
                <div>
                  {{ item.chainId | chainName }}
                </div>
                <div>
                  {{ item.amount }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-2 -mt-4">
        <div
          *ngIf="v3Positions$ | async as positions; else posLoading"
          class="col-span-1"
        >
          <div
            class="px-8 py-5 bg-white border border-slate-100 rounded-md col-span-1"
            *ngIf="positions.length > 0"
          >
            <div
              class="font-semibold flex flex-row items-center justify-between"
            >
              <div class="flex flex-row gap-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-piggy-bank"><path d="M19 5c-1.5 0-2.8 1.4-3 2-3.5-1.5-11-.3-11 5 0 1.8 0 3 2 4.5V20h4v-2h3v2h4v-4c1-.5 1.7-1 2-2h2v-4h-2c0-1-.5-1.5-1-2V5z"/><path d="M2 9v1c0 1.1.9 2 2 2h1"/><path d="M16 11h.01"/></svg>
                My savings
              </div>
              <div
                *ngIf="totalsSupplied$ | async as totals"
                class="flex flex-row gap-x-2"
              >
                <div class="flex flex-row items-center border-slate-100 pr-4 pl-4 border-l w-44">
                  <img
                    class="h-8 mr-2"
                    src="../assets/usdc.png"
                    alt=""
                    srcset=""
                  />
                  <div class="flex flex-col">
                    <div class="text-sm font-medium text-slate-500">USDC</div>
                    <div class="-mt-1">{{ totals.usdc }}</div>
                  </div>
                </div>
                <div class="flex flex-row items-center border-slate-100 pr-4 pl-4 border-x w-44">
                  <img
                    class="h-8 mr-2"
                    src="../assets/usdt.png"
                    alt=""
                    srcset=""
                  />
                  <div class="flex flex-col">
                    <div class="text-sm font-medium text-slate-500">USDT</div>
                    <div class="-mt-1">{{ totals.usdt }}</div>
                  </div>
                </div>
                <button
                  (click)="withdrawAll()"
                  class="py-2 w-48 border-r hover:bg-slate-50 
                  flex flex-row items-center justify-center gap-x-2 transition-all border-slate-100 text-sm font-semibold px-4 "
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-to-line"><path d="M12 17V3"/><path d="m6 11 6 6 6-6"/><path d="M19 21H5"/></svg>
                  Withdraw all
                </button>
                <div
                  (click)="toggleExpand()"
                  class="py-2 cursor-pointer w-36 flex flex-row gap-x-2 justify-center items-center hover:bg-slate-50 transition-all border-slate-200 text-sm font-semibold px-8 rounded-md"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide h-5 w-5 lucide-expand"
                  >
                    <path d="m21 21-6-6m6 6v-4.8m0 4.8h-4.8" />
                    <path d="M3 16.2V21m0 0h4.8M3 21l6-6" />
                    <path d="M21 7.8V3m0 0h-4.8M21 3l-6 6" />
                    <path d="M3 7.8V3m0 0h4.8M3 3l6 6" />
                  </svg>
                  Expand
                </div>
              </div>
            </div>
            <div
              *ngIf="suppliesExpanded"
              class="w-full pt-4 border-slate-100 mt-4 border-t flex flex-col"
            >
              <div class="w-full grid grid-cols-4">
                <div class="text-sm text-slate-500">Asset</div>
                <div class="text-sm text-slate-500">Provider</div>
                <div class="text-sm text-slate-500">Supplied amount</div>
                <div></div>
              </div>
              <div
                class="w-full grid grid-cols-4 py-2 items-center"
                *ngFor="let pos of positions"
              >
                <div class="flex flex-row gap-x-2 items-center">
                  <img
                    class="h-6"
                    src="../assets/{{ pos.token.toLowerCase() }}.png"
                    alt=""
                  />
                  <div
                    class="mt-[0.15rem] h-8 flex font-light flex-row items-center"
                  >
                    {{ pos.token }}
                  </div>
                </div>
                <div class="text-sm h-full flex flex-row items-center">
                  {{ pos.chainId | chainName }}
                </div>
                <div>
                  {{ pos.amount }}
                </div>
                <div>
                  <button
                    (click)="openWithdraw(pos)"
                    class="py-2 w-full hover:bg-slate-50 transition-all border-slate-200 text-sm font-semibold px-8 rounded-md border"
                  >
                    Withdraw
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #posLoading>
          <div class="w-full bg-slate-100 animate-pulse h-12 rounded-md"></div>
        </ng-template>
      </div>

      <div class="col-span-2">
        Actions
      </div>
      <!-- USDC Section -->
      <div class="token-container -mt-4">
        <div class="token-header">
          <img src="../assets/usdc.png" alt="USDC Logo" class="token-logo" />
          <div>USDC Save/Borrow</div>
        </div>
        <ng-container *ngIf="usdcYields$ | async as usdcYields; else loading">
          <div class="yield-grid">
            <!-- Supply Section -->
            <div class="yield-section">
              <h3 class="yield-title">
                <svg
                  class="icon-small text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                  />
                </svg>
                Savings rate
              </h3>
              <p class="yield-value text-green-600">
                {{ usdcYields.bestSupplyYield.supplyYield | percent : "1.2-2" }}
              </p>
              <p class="yield-chain">
                {{ usdcYields.bestSupplyYield.chainId | chainName }}
              </p>
              <button
                (click)="
                  openModal(
                    'Supply',
                    'USDC',
                    usdcYields.bestSupplyYield.tokenAddress,
                    usdcYields.bestSupplyYield.supplyYield,
                    usdcYields.bestSupplyYield.chainName,
                    usdcYields.bestSupplyYield.chainId,
                    usdcYields.bestSupplyYield.marketAddress
                  )
                "
                class="action-button bg-blue-50 text-blue-500 hover:bg-blue-600"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="button-icon"
                >
                  <path d="M5 3h14" />
                  <path d="m18 13-6-6-6 6" />
                  <path d="M12 7v14" />
                </svg>
                Save
              </button>
            </div>
            <!-- Borrow Section -->
            <div class="yield-section">
              <h3 class="yield-title">
                <svg
                  class="icon-small text-indigo-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
                  />
                </svg>
                Borrow rate
              </h3>
              <p class="yield-value text-indigo-500">
                {{ usdcYields.bestBorrowYield.borrowYield | percent : "1.2-2" }}
              </p>
              <p class="yield-chain">

                {{ usdcYields.bestBorrowYield.chainId | chainName }}
              </p>
              <button
                class="action-button bg-green-50 text-green-700 hover:bg-green-600"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="button-icon"
                >
                  <path d="M12 17V3" />
                  <path d="m6 11 6 6 6-6" />
                  <path d="M19 21H5" />
                </svg>
                Borrow
              </button>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- USDT Section -->
      <div class="token-container -mt-4">
        <div class="token-header">
          <img src="../assets/usdt.png" alt="USDT Logo" class="token-logo" />
          <div>USDT Save/Borrow</div>
        </div>
        <ng-container *ngIf="usdtYields$ | async as usdtYields; else loading">
          <div class="yield-grid">
            <!-- Supply Section -->
            <div class="yield-section">
              <h3 class="yield-title">
                <svg
                  class="icon-small text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                  />
                </svg>
                Savings rate
              </h3>
              <p class="yield-value text-green-600">
                {{ usdtYields.bestSupplyYield.supplyYield | percent : "1.2-2" }}
              </p>
              <p class="yield-chain">

                {{ usdtYields.bestSupplyYield.chainId | chainName }}
              </p>
              <button
                (click)="
                  openModal(
                    'Supply',
                    'USDT',
                    usdtYields.bestSupplyYield.tokenAddress,
                    usdtYields.bestSupplyYield.supplyYield,
                    usdtYields.bestSupplyYield.chainName,
                    usdtYields.bestSupplyYield.chainId,
                    usdtYields.bestSupplyYield.marketAddress
                  )
                "
                class="action-button bg-blue-50 text-blue-700 hover:bg-blue-600"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="button-icon"
                >
                  <path d="M5 3h14" />
                  <path d="m18 13-6-6-6 6" />
                  <path d="M12 7v14" />
                </svg>
                Save
              </button>
            </div>
            <!-- Borrow Section -->
            <div class="yield-section">
              <h3 class="yield-title">
                <svg
                  class="icon-small text-indigo-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
                  />
                </svg>
                Borrow rate
              </h3>
              <p class="yield-value text-indigo-500">
                {{ usdtYields.bestBorrowYield.borrowYield | percent : "1.2-2" }}
              </p>
              <p class="yield-chain">

                {{ usdtYields.bestBorrowYield.chainId | chainName }}
              </p>
              <button
                (click)="
                  openModal(
                    'Borrow',
                    'USDT',
                    usdtYields.bestBorrowYield.tokenAddress,
                    usdtYields.bestBorrowYield.borrowYield,
                    usdtYields.bestBorrowYield.chainName,
                    usdtYields.bestBorrowYield.chainId,
                    usdtYields.bestBorrowYield.marketAddress
                  )
                "
                class="action-button bg-green-50 text-green-500 hover:bg-green-600"
              >
              <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="button-icon"
            >
              <path d="M12 17V3" />
              <path d="m6 11 6 6 6-6" />
              <path d="M19 21H5" />
            </svg>
                Borrow
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #connect>
  <div
    class="w-screen h-screen bg-gradient-to-b from-white to-fuchsia-50 flex flex-row justify-center items-center"
  >
    <div
      class="max-w-lg w-full bg-white border flex flex-col items-center gap-y-4 border-slate-100 rounded-md px-8 pt-14 pb-8"
    >
      <img
        class="h-8 mb-12"
        src="https://content.pstmn.io/9af7177c-4ec7-40e4-855b-214ea62aaf5f/a2xhc3Rlcl9ib2plLnBuZw=="
        alt=""
        srcset=""
      />

      <div
        class="bg-amber-50 p-8 text-justify text-orange-800 font-light w-full border border-amber-200 text-sm rounded-md"
      >
        <span class="w-full flex flex-row justify-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-triangle-alert"
          >
            <path
              d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"
            />
            <path d="M12 9v4" />
            <path d="M12 17h.01" />
          </svg>
        </span>
        <span class="text-justify"
          >This is a demo app meant to demonstrate the Klaster SDK & Protocol.
          It is not meant for production usage and features are almost certain
          to break.</span
        >
      </div>
      <button
        (click)="requestWallets()"
        class="mt-4 py-3 text-sm w-full border border-slate-100 text-slate-700 flex flex-row gap-x-2 justify-center transition-all rounded-full hover:bg-slate-100 items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-plug-zap"
        >
          <path
            d="M6.3 20.3a2.4 2.4 0 0 0 3.4 0L12 18l-6-6-2.3 2.3a2.4 2.4 0 0 0 0 3.4Z"
          />
          <path d="m2 22 3-3" />
          <path d="M7.5 13.5 10 11" />
          <path d="M10.5 16.5 13 14" />
          <path d="m18 3-4 4h6l-4 4" />
        </svg>
        Connect Wallet
      </button>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="yield-grid">
    <div class="yield-section">
      <div class="loading-item h-5 mb-2 w-1/2"></div>
      <div class="loading-item h-7 mb-2"></div>
      <div class="loading-item h-3 mb-3 w-3/4"></div>
      <div class="loading-item h-8 w-1/3"></div>
    </div>
    <div class="yield-section">
      <div class="loading-item h-5 mb-2 w-1/2"></div>
      <div class="loading-item h-7 mb-2"></div>
      <div class="loading-item h-3 mb-3 w-3/4"></div>
      <div class="loading-item h-8 w-1/3"></div>
    </div>
  </div>
</ng-template>

<app-supply-borrow-modal
  [isVisible]="isModalVisible"
  [actionType]="modalActionType"
  [tokenSymbol]="modalTokenSymbol"
  [tokenAddress]="modalTokenAddress"
  [apy]="modalApy"
  [chainName]="modalChainName"
  [chainId]="modalChainId"
  [marketAddress]="modalMarketAddress"
  (closeModal)="closeModal()"
  (transactionData)="handleTransactionData($event)"
></app-supply-borrow-modal>

<app-withdraw [position]="withdrawPositionOpened"></app-withdraw>
